{% extends 'base_auth.html' %}
{% load static %}
{% block title %} Login{%endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Login to your  account</h4>
        </div>
        <form action="{% url 'authentication:login' %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
          <div class="row mb-3">

            <div class="form-group">
              <input
              type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              value="{{fieldValues.username}}"
              class="form-control"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-group">
              <input
                type="password"
                name="password"
                placeholder="Password"
                class="form-control"
                id="passwordField"
              />
            </div>
          </div>
          <div class="row d-grid gap-2">
            <input type="submit" value="Login" class="btn btn-primary submit-btn" />
          </div>
        </form>
      </div>
      <div class="d-grid">
        <a href="{% url 'authentication:registration' %}" class="btn btn-light btn-login text-uppercase fw-bold">Register</a>
    </div>
      <span class="text-end">Forgot Password <a href="{% url 'authentication:request-password' %}">Reser it</a></span>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'assets/custom/js/register.js' %} "></script>

{% endblock content %}