{% extends 'base_auth.html' %}
{% load static %}
{% block title %} Register {%endblock %} 
{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title py-3">
          <h4>Register for a free account</h4>
        </div>
        <form class="row g-3" action="{% url 'authentication:registration' %}" method="post">
          {% csrf_token %}
          <div class="col-12">
            <label class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="usernameField"
              value="{{ fieldValues.username }}"
              placeholder="Username"
            />
          </div>
          <div
            class="invalid_feedback invalid-feedback"
            style="display: none"
          ></div>
          <p class="text-sm text-success usernameSuccessOutput"></p>

          <div class="col-md-12">
            <label class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              id="emailField"
              value="{{ fieldValues.email }}"
            />
          </div>
          <div
            class="emailFeedBackArea invalid-feedback"
            style="display: none"
          ></div>
          <div class="col-md-12">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="passwordField" />
            <small class="float-end py-3 showPasswordToggle">SHOW</small>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<script src="{% static 'assets/custom/js/register.js' %} "></script>
{% endblock %}
