{% extends 'base_auth.html' %} {% load static %} {% block title %} Reset password
{%endblock %} {% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title py-3">
          <h4>Register for a free account</h4>
        </div>
        <form
          class="row g-3"
          action="{% url 'authentication:set-new-password' uidb64 token%}"
          method="post"
        >
          {% csrf_token %}
          <div class="col-md-12">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              id="passwordField"
            />
            <small class="float-end py-3 showPasswordToggle">SHOW</small>
          </div>          
          <div class="col-md-12">
            <label class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              name="ConfirmPassword"
              placeholder="Confirm Password"
              id="ConfirmPasswordField"
            />
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary submit-btn">
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<script >
    const passwordField=document.querySelector('#passwordField');
    const ConfirmPasswordField=document.querySelector('#ConfirmPasswordField');
    const showPasswordToggle=document.querySelector('.showPasswordToggle');
    const handleToggleInput = (e) => {
        if(showPasswordToggle.textContent === "SHOW"){
            showPasswordToggle.textContent = "HIDE";
            passwordField.setAttribute("type", "text");
        }else{
            showPasswordToggle.textContent = "SHOW";
            passwordField.setAttribute("type", "password");
        }
    }
    
    showPasswordToggle.addEventListener('click', handleToggleInput);    
</script>
{% endblock %}
